.box_per_word {
    background-image: url('../../static/tianzige.png');
    width: 30px;
    height: 30px;
    position: relative;
    float: left;
    background-position: center 0;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin-top: 30px;
    margin-bottom: 30px;
    cursor: pointer;
}

.seg_center {
    margin-left: 0.5px;
    margin-right: 0.5px;
    cursor: pointer;
}

.seg_left {
    margin-left: 10px;
    margin-right: 0.5px;
}

.seg_right {
    margin-left: 0.5px;
    margin-right: 10px;
    cursor: pointer;
}

.no_seg {
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
}

.box_per_word input{
    outline: none;
    width: 30px;
    height: 30px;
    position: relative;
    background: transparent;
    box-shadow: none;
    border: none;
    text-align: center;
    cursor: pointer;
}

.box_per_note {
    width: 20px;
    height: 30px;
    position: relative;
    float: left;
    margin: 30px 10px;
    cursor: pointer;
}

.box_per_note input{
    outline: none;
    width: 10px;
    height: 30px;
    position: relative;
    background: transparent;
    box-shadow: none;
    border: none;
    text-align: center;
    cursor: pointer;
}

.box_per_sentence {
    width: 100%;
    height: 30px;
    position: absolute;
    left: 0px;
    cursor: pointer;
}


.write-potery-page{
    width: 100%;
    height: 100%;
    position: relative;
}